<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hackney - Housing Tool</title>
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap">
        {
            "imports": {
                "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
                "react": "https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js",
                "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js"
            }
        }
    </script>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
        {
            "imports": {
                "@mtfh/root-config": "//localhost:9000/mtfh-root-config.js",
                "@mtfh/search": "//localhost:8500/mtfh-search.js",
                "@mtfh/auth": "//localhost:8080/mtfh-auth.js",
                "@mtfh/header": "//localhost:8090/mtfh-header.js"
            }
        }
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>

    <template id="single-spa-layout">
        <single-spa-router containerEl=".mtfh-container">
        <application name="@mtfh/header" loader="header" error="header"></application>
            <main class="lbh-main-wrapper" id="main-content">
                <div class="lbh-container">
                    <route default>
                        <h1>Welcome to the default page</h1>
                    </route>
                    <route path="search">
                        <application name="@mtfh/search"></application>
                    </route>
                    <route path="login">
                        <application name="@mtfh/auth"></application>
                    </route>
                </div>
            </main>
            <div class="mtfh-footer">
                <div class="mtfh-footer__section --primary">
                    <ul class="mtfh-footer__menu">
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="#">Report an issue</a></li>
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="#">Make a suggestion</a></li>
                    </ul>
                </div>
                <div class="mtfh-footer__section"></div>
            </div>
        </single-spa-router>
    </template>
</head>
<body class="govuk-template__body">
    <div className="mtfh">
        <div class="mtfh-container">
            <!-- Here are injected the microfrontends -->
        </div>
    </div>
    <script>
        // eslint-disable-next-line no-undef
        System.import('@mtfh/root-config');
    </script>
    <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
