@import '~lbh-frontend/lbh/base';
@import '~lbh-frontend/lbh/core/all';
@import '~lbh-frontend/lbh/objects/all';
@import '~lbh-frontend/lbh/settings/colour-palette';
@import '~lbh-frontend/lbh/helpers/colour';

html {
    height: 100%;
}

body,
.mtfh,
.mtfh-container {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1 0 auto;
}

.mtfh-footer {
    &__menu {
        text-align: center;
    }

    &__menu-item {
        display: inline-block;
        margin: 0 3rem 0 0;

        .lbh-link:link,
        .lbh-link:visited {
            color: lbh-colour('lbh-text-white');
        }
        .lbh-link:focus {
            color: lbh-colour('lbh-text');
        }
    }

    &__section {
        min-height: 3rem;
        margin: 0;
        color: lbh-colour('lbh-text-white');
        line-height: 3rem;
        background-color: lbh-colour('lbh-black');

        &.--primary {
            background-color: lbh-colour('lbh-a01');
        }
    }
}
